{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrder": ["^(app|images|shared|store|styles|utils|\\.)", "[\\s\\S]*"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
