html {
  overflow-y: overlay;
}

.dark {
  header,
  .rdt_Table,
  .rdt_TableRow,
  .rdt_TableCol,
  .rdt_TableCol_Sortable,
  .rdt_TableCell,
  .rdt_TableHeader,
  .rdt_TableFooter,
  .rdt_TableHead,
  .rdt_TableHeadRow,
  .rdt_TableBody,
  .rdt_ExpanderRow,
  .rdt_Pagination {
    background-color: #141517 !important;
  }

  .rdt_TableRow:not(:last-of-type),
  .rdt_TableHeadRow {
    border-bottom: 1px solid #373a40 !important;
  }
}

.light {
  header,
  .rdt_Table,
  .rdt_TableRow,
  .rdt_TableCol,
  .rdt_TableCol_Sortable,
  .rdt_TableCell,
  .rdt_TableHeader,
  .rdt_TableFooter,
  .rdt_TableHead,
  .rdt_TableHeadRow,
  .rdt_TableBody,
  .rdt_ExpanderRow .rdt_Pagination {
    background-color: #f8f9fa !important;
  }
}
